.columns {
  display: flex;
}

.piano {
  width: 50%;
}

.guitar {
  width: 50%;
  display: flex;
}

.string {
  flex-grow: 1;
}

.diatonic {
  background-color: #ddd;
}

.tonic {
  background-color: #bbb;
}

.selected {
  background-color: #91c084;
  color: #fff;
}
