.guitar {
  display: grid;
  row-gap: 18px;
}

.guitar-string {
  column-gap: 4px;
  display: grid;
  grid-template-columns: repeat(calc(var(--guitar-frets) + 1), 30px);
}

.guitar-note {
  align-items: center;
  background: rgb(255 255 255);
  border-radius: 999px;
  border: 1px solid rgb(0 0 0);
  display: inline-flex;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  line-height: 1;
  text-align: center;
  width: 30px;
}

.guitar-note--accidental {
  background: rgb(153 153 153);
  border-color: transparent;
  color: rgb(255 255 255);
  font-size: 12px;
}
