:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  --mono-font-family: Monaco, Menlo, Consolas, monospace;
}

body {
  font-family: var(--mono-font-family);
  margin: 0;
  padding: 20px;
}

td {
  padding-right: 40px;
}

td:nth-of-type(1) {
  text-align: right;
}

td:nth-of-type(4) {
  text-align: right;
}
